body{
    background-color: #ccc;
    font-family: Arial, Helvetica, sans-serif;
    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

/*intestazione  */
#head-logo{
            background-color: white;
            height: 100px;
            
            
}

#logo{
    margin-left: 10px;
    line-height: 100px;
    vertical-align: middle;

}

#logotext{
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 100px;
    vertical-align: 5%;
    
    

}

/* parte centrale */
    /* nav */
.box{
    background-color: white;
    margin: auto;
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 10px;
}
.tasti{
    margin-left: 50px;
    padding: 10px;
    margin-bottom: 1px;
}

.tasti > button{
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 2px;
    padding: 5px;
}

#tast-blu{
    background-color: rgb(106, 167, 236);
    color: white;
}

#tast-w{
    background-color: white;
    color: #ccc;
}
    /* corpo */

.sezione{
    padding: 10px;
    margin-left: 50px;
}
.title-sec{
    display: inline-block;
    margin: 10px;
}
.spunta{
    color: green;
    margin: 2px;
    height: 20px;
    width: 20px;
    border: solid green 1px;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
}

.rectangle{
    color: white;
    padding: 5px;
    border-radius: 10px;
    margin: 2px;
}
.rectangle.ed{
    background-color: rgb(105, 201, 233);
    
}

.linea{
    margin-bottom: 20px;
}
.spunta-red{
    color: rgb(185, 36, 9);
    margin: 2px;
    height: 20px;
    width: 20px;
    border: solid red 1px;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    
}

.rectangle.q1{
    background-color: rgb(213, 54, 228);
    
}
.rectangle.rec{
    background-color: rgb(105, 233, 126);
    
}
.rectangle.mob{
    background-color: rgb(245, 127, 48);
    
}

.rectangle.web{
    background-color: rgb(245, 73, 125);
    
}

.rectangle.sale{
    background-color: rgb(89, 192, 79);
    
}