body{
    background-color: #ccc;
    font-family: Arial, Helvetica, sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*intestazione  */
#head-logo{
            background-color: white;
            height: 100px;
            line-height: 100px;
            vertical-align: middle;
            
}

#logo{
    margin-left: 10px;
    line-height: 100px;
    vertical-align: middle;

}

#logotext{
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    
    

}